
.test{
    font-family:"Arial";
    font-size:200%;
    font-weight: bold;
    outline: lightgrey;
    padding-top: 10px;
}


.image-wrapper {
    position: relative;
}

.image-wrapper img {
    max-width: 100%;

}

img {
    padding-top: 10px;
    padding-bottom: 10px;
}

#sticky-footer{
    bottom: 0;
    width: 100%;
    position: absolute;
}

footer .footer-below{
    padding:25px 0;
    background-color: darkcyan;
  }

footer .footer-col{
    margin-bottom:50px;
  }